第九讲[[:space:]]图像分类论文导读.mp4 filter=lfs diff=lfs merge=lfs -text
第四讲wsl环境下安装tensorflow与pytorch.mp4 filter=lfs diff=lfs merge=lfs -text
第三讲keras的安装和运行.mp4 filter=lfs diff=lfs merge=lfs -text
第八讲object[[:space:]]dectection.mp4 filter=lfs diff=lfs merge=lfs -text
第一讲python与tensorflow安装.mp4 filter=lfs diff=lfs merge=lfs -text
第二讲pytorch和keras安装.mp4 filter=lfs diff=lfs merge=lfs -text
第七讲resnet到dpnet.mp4 filter=lfs diff=lfs merge=lfs -text
第六讲-从alexnet到googlenet.mp4 filter=lfs diff=lfs merge=lfs -text
第五讲GPU加速环境安装.mp4 filter=lfs diff=lfs merge=lfs -text
